<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" #sidenav>
    <mat-nav-list
      fxFlex
      fxLayout="column"
      fxLayoutGap="10px"
      class="sidenavlinks"
    >
      <li><a class="sidenavlink" [routerLink]="['/matches']"> Fixture</a></li>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxHide fxShow.xs>
          <mat-icon>menu</mat-icon>
        </button>
        <span class="logo">
          <img
            src="assets\onlinelogomaker-060819-2334-3949-2000-transparent.png"
            alt="logo"
          />
        </span>
        <ul
          class="menuitems"
          fxFlex
          fxLayout
          fxLayoutAlign="flex-end"
          fxHide.xs
        >
          <li><a [routerLink]="['/matches']"> Fixture</a></li>
        </ul>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
