.maincard {
  padding: 50px 100px;
  height: 89.9vh;
  display: flex;
  flex-direction: column;
  background-color: #cccccc;
  /* width: 80%; */
}

.flag {
  width: 50px;
  height: 50px;

  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50px;
}

.flagspan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.flagspan p {
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-weight: bold;
}

mat-card,
mat-card-title,
mat-card-content {
  width: 100%;
}

.copalogo {
  width: 200px;
  height: 200px;
  padding-bottom: 50px;
}
