<mat-card class="maincard">
  <mat-card-title fxLayoutAlign="center">
    <img
      class="copalogo"
      src="https://vignette.wikia.nocookie.net/logopedia/images/0/01/Copa_America_2019_Brasil.png/revision/latest?cb=20180923022057"
      alt=""
    />
  </mat-card-title>
  <mat-card-content
    fxFlex
    fxLayout="column"
    fxLayout.lg="row"
    fxLayoutAlign="center"
    fxLayoutGap="25px"
  >
    <mat-card
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center"
      fxLayoutGap="25px"
      class="ga"
    >
      <mat-card-title fxLayoutAlign="center">Group A</mat-card-title>
      <mat-card-content
        fxLayout="row"
        fxLayoutAlign="center"
        fxLayoutGap="20px"
      >
        <span class="flagspan"
          ><img class="flag" src="/assets/copa flags/brazil.png" alt="" />
          <p>Brazil</p></span
        >
        <span class="flagspan"
          ><img class="flag" src="/assets/copa flags/bolivia.png" alt="" />
          <p>Bolivia</p></span
        >
        <span class="flagspan"
          ><img class="flag" src="/assets/copa flags/venezuela.png" alt="" />
          <P>Venezuela</P></span
        >
        <span class="flagspan"
          ><img class="flag" src="/assets/copa flags/peru.png" alt="" />
          <P>Peru</P></span
        >
      </mat-card-content>
    </mat-card>
    <mat-card
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center"
      fxLayoutGap="25px"
      class="gb"
      ><mat-card-title fxLayoutAlign="center">Group B</mat-card-title>

      <mat-card-content
        fxLayout="row"
        fxLayoutAlign="center"
        fxLayoutGap="20px"
      >
        <span class="flagspan"
          ><img class="flag" src="/assets/copa flags/argentina.png" alt="" />
          <p>Argentina</p></span
        >
        <span class="flagspan"
          ><img class="flag" src="/assets/copa flags/colombia.png" alt="" />
          <p>Colombia</p></span
        >
        <span class="flagspan"
          ><img class="flag" src="/assets/copa flags/paraguay.png" alt="" />
          <p>Paraguay</p></span
        >
        <span class="flagspan"
          ><img class="flag" src="/assets/copa flags/qatar.png" alt="" />
          <p>Qatar</p></span
        >
      </mat-card-content>
    </mat-card>
    <mat-card
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center"
      fxLayoutGap="25px"
      class="gc"
      ><mat-card-title fxLayoutAlign="center">Group C</mat-card-title>
      <mat-card-content
        fxLayout="row"
        fxLayoutAlign="center"
        fxLayoutGap="20px"
      >
        <span class="flagspan"
          ><img class="flag" src="/assets/copa flags/uruguay.png" alt="" />
          <p>Uruguay</p></span
        >
        <span class="flagspan"
          ><img class="flag" src="/assets/copa flags/ecuador.png" alt="" />
          <p>Ecuador</p></span
        >
        <span class="flagspan"
          ><img class="flag" src="/assets/copa flags/japan.png" alt="" />
          <p>Japan</p></span
        >
        <span class="flagspan"
          ><img class="flag" src="/assets/copa flags/chile.png" alt="" />
          <p>Chile</p></span
        >
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
